html{
    min-height: 100%;
    height: max-content;
}

nav{
    height: 5%;
    background-image: linear-gradient(#2CA5A0, #20635C);
    padding: 10px 20px;
    border-bottom: 3px double #2CA5A0;
    border-bottom-style: dashed;
    display: flex;
    text-transform: uppercase;
    cursor: pointer;
    justify-content: space-between;
    text-align: center;
}
nav>a{
    font-size: small;
    width: 12%;
    padding: 5px;
    background-color: #112299;
    color: #ccffcc;
    border: 1px dotted #ccc;
    text-decoration: none;
}

nav>a:hover{
    background-size: 100% 100%;
    background-color: #991122;
    animation: spring 300ms ease-out;
    font-weight: bold;
}

#gradMenu {
    background-image: linear-gradient(yellow, red);
    background-color: #cccccc;
    
}
#gradMenu:hover{
    overflow: visible;
    background: url("../imagini/menuButton.png") no-repeat;
    background-size: cover;
}

#gradBody{
    width: 100%;
    height: 100%;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%) no-repeat;
    background-size: cover;
}

/*pt pagina inregistreza.html*/
.inregistreaza_1{
    border-style: inset;
    border-width: 50%;
    border-width: 5px;
    border-color:aqua blueviolet aqua blueviolet;
}
dd>form{
    display: table;
}
form>p{
    padding: 10px;
    display: table-row;
}
p>label { 
    display: table-cell;
    padding-right: 5px;
}
p>input { 
    display: table-cell; 
}
p>button{
    align-self: 25%;
}

/*flexbox*/

.flex-container {
    display: flex;
    align-items: center;
    width: 700px;
    background-color: #E8950C;
    height: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content:center;
    align-content: flex-start;
}
  
.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

/* move text up and down */
.movetxt {
    animation: MoveUpDown 2s alternate infinite;
    position: absolute;
    left: 0;
    bottom: 0;  
}
  
@keyframes MoveUpDown {
    from {
        left:50%;
        top:50% ;
    }
     
    to {
        left:50%;
        top:60%;
    }
  }

#continut > table{
    width: 100%;
}
th, td{
    background-color: aliceblue;
}
#continut > table, th, td{
    text-align: center;
    border: 2px black solid;
}

/*pagina invat.html*/
/*element aside*/
#invat_aside{
    display: block;
    font-style: italic;
    float: right;
    width: 30%;
    background-color:bisque;
    padding: 10px;
}